
*{
  font-family:'Niconne';
  cursor: pointer;
}

p { font-size: 105%; }

button { font-size: 105%; }

input { font-size: 105%; }

.background {
  /* The image used */
  background-image: url("https://s3-us-west-1.amazonaws.com/blackjack-react/felt_hq.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: stretch;
}

.main-flex {
  display: flex;
  flex-direction: row;
  max-width: 920px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.game {
  width: 700px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.stats {
  width: 200px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.game-container {
  display: grid;
  grid-template-columns: 200px 20px 1fr;
  grid-template-rows: 150px 20px 150px 150px 150px 150px 150px;
  grid-template-areas: "dl . dr" ". . ." "ctrl . you" "ctrl . you" "ctrl . you" "ctrl . you" "ctrl . you";
}

.dl { grid-area: dl; }

.dr { grid-area: dr; }

.ctrl { grid-area: ctrl; }

.your-side { grid-area: you; }

.ctrl-you-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 140px 140px 140px 140px;
  grid-template-areas: "0" "1" "2" "3" "4";
}

.turn0 { grid-area: 0; }


.controls-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "hit stay" "double split" "bet bet";
}

.controls-container > div {
  text-align: center;
  font: caption;
}

.hit {
  grid-area: hit;
  padding-top: 12px;
}

.stay {
  grid-area: stay;
  padding-top: 12px;
}

.double {
  grid-area: double;
  padding-top: 12px;
}

.split {
  grid-area: split;
  padding-top: 12px;
}

.bet-info {
  grid-area: bet;
  padding-top: 8px;
  color: green;
  border-color: black;
  background-color: black;
  border-radius: 10px;
}

.active {
  height: 28px;
  background-color: #4CAF50;
  background-image: linear-gradient(to bottom right, #607D8B, #85cc8c);
  border-radius: 15px;
  border-style: outset;
}

.active:hover {
  background-image: linear-gradient(to bottom right, #c2d1d8, #d6ecd8);
}

.active:active {
  border-style: inset;
}

.inactive {
  height: 28px;
  background-color: #4caf5000;
  background-image: linear-gradient(to bottom right, #607d8b26, #85cc8c29);
  border-radius: 15px;
}

.bet-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bet-input" "bet-deal" "dealer-info";
}

.bet-input {
  grid-area: bet-input;
  text-align: center;
  padding-top: 5px;
  height: 33px;
}

.bet-number-input {
  background: none;
  border-style: inset;
}

.bet-deal {
  grid-area: bet-deal;
  text-align: center;
  padding-top: 17px;
  font: caption;
}

.dealer-info {
  grid-area: dealer-info;
  text-align: center;
  padding-top: 17px;
  color: green;
  border-color: black;
  background-color: black;
  border-radius: 10px;
  font: caption;
}

.title { text-align: center; }

.game-col {
  min-width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.game-col .front {
  z-index: 100;
  position: absolute;
}

.dealer{ margin-bottom: 15px; }

.dealer h2 { margin-bottom: 15px; }

.you { margin-top: 10px; }

.you h2 { margin-top: 10px; }

.small-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}

.avatar {
  border-radius: 25%;
}

.dealer-label {
  margin: auto;
  width: 50%;
  padding: 10px;
}
